@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gradient-to-br from-purple-900 via-indigo-900 to-blue-900;
  height: 100%;
}

body {
  @apply bg-gradient-to-br from-purple-900 via-indigo-900 to-blue-900;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.fade-out {
  transition: opacity 2s ease-out;
}

#root {
  /* width: 100vw;
  height: calc(100vh - env(safe-area-inset-bottom));
  bottom: env(safe-area-inset-bottom);
  padding-bottom: max(400px, env(safe-area-inset-bottom)); */
}
