@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gradient-to-br from-purple-900 via-indigo-900 to-blue-900;
  height: 100%;
}

body {
  @apply bg-gradient-to-br from-purple-900 via-indigo-900 to-blue-900;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.admin-dialog {
  transition: all 300ms ease-in-out;
  transform: translateY(1px);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.admin-dialog.open {
  transform: translateY(0);
  opacity: 1;
  max-height: 500px;
}

.admin-dialog-hidden {
  display: none;
  height: 0;
}

.fade-out {
  transition: opacity 2s ease-out;
}

#root {
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
